[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
pytz = "*"
psutil = "*"
py-cpuinfo = "*"

[dev-packages]

[requires]
python_version = "3.9"
